<%
const config = {
  'title': 'Segurança da Informação',
  'path': '',
  'fonts': [
    'fonts/gotham.css',
  ],
  'styles': [
    'font-awesome-5.css',
    'owl.carousel.css',
    'styles.css',
  ],
  'scripts': [
    'jquery-3.4.1.min.js',
    'popper.min.js',
    'bootstrap.min.js',
    'owl.carousel.min.js',
    'scripts.js',
  ],
};

%>
<%- include('../templates/header', { config }); -%>
<main class="main container-fluid main-inside">
  <div class="container">
    <div class="row">
      <%- include('../templates/galleries'); -%>
      <div id="aside" class="sticky-top">
        <%- include('../templates/highlights'); -%>
        <%- include('../templates/categories'); -%>
      </div>
      <div class="col-12">
        <h1 class="title-section">RECOMENDAMOS PARA VOCÊ</h1>
      </div>
      <%- include('../templates/carousel', { inside: false }); -%>
    </div>
  </div>
</main>
<%- include('../templates/footer', { config }); -%>

